.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #563d7c;
  color: white;
  z-index: 2;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.8);
}

.header a {
  color: rgba(255, 255, 255, 0.95);
}

.header a {
  margin-right: 10px;
}

.header a:last-child {
  margin-right: 30px;
}

.header a:not(:first-child):hover {
  color: white;
}

.header a:first-child {
  color: white;
  font-size: large;
  text-decoration: none;
  margin-right: 30px;
}

.header > select {
  width: 100px;
  float: right;
}

.nav {
  grid-area: nav;
  box-sizing: border-box;
  background-color: #eee;
  padding: 16px;
}

.nav > :first-child {
  font-size: larger;
  margin-bottom: 10px;
}

.nav ul {
  max-height: 68vh;
  overflow-y: auto;
}

.nav li {
  list-style: none;
}

.nav li > a {
  display: flex;
  color: inherit;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.2;
  border-radius: 4px;
}

.nav li > a:hover {
  background-color: #ddd;
}

.navSelectedLink {
  font-weight: bold;
}
