.main {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #2a2a2e;
  color: white;
  /* TODO */
  /* - header height */
  height: calc(100vh - 45px);
  overflow-y: auto;
}

.main > div {
  padding-bottom: 50px;
}

.main a {
  display: block;
  color: inherit;
}

.screenshotPortrait {
  height: 600px;
}

.screenshotLandscape {
  width: 800px;
}
